
.text {
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";

    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;

}

.button {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

#text {
    -fx-font-size: 17;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;


}

.text-field {
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

.text-area {
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

.menu {
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

.menu-bar {
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";
    -fx-fill: #000a81;
    -fx-effect: innershadow(three-pass-box, rgba(0, 10, 129, 0.7), 6, 0.0, 0, 2);
}

#text {
    -fx-font-size: 20;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}
.label {
    -fx-font-size: 15;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}
.cell {


}




