
.text {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/

    -fx-fill: #000000;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    /*-fx-font-weight: 900;*/

}

.button {
    -fx-font-size: 32px;
    /* -fx-font-family: "Arial Black";*/
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

#text {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/

    -fx-fill: #000000;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;


}

.text-field {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/

    -fx-fill: #000000;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

.text-area {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/

    -fx-fill: #000000;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

.menu {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/

    -fx-fill: #000000;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

.menu-bar {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 222), 50, 0, 0, 5);
}

#text {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/

    -fx-fill: #000000;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

.label {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/

    -fx-fill: #000000;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-font-weight: 900;
}

.table-view .menu-item {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/
    -fx-fill: #000000;


}

.table-view .menu-bar {
    -fx-font-size: 15;
    /* -fx-font-family: "Arial Black";*/
    -fx-fill: #818181;
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 222), 50, 0, 0, 5);
}




